<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>  
        <div class='main-content'>
            <h1><b>{{msg}}</b></h1>
            {{>header}}
            {{!-- <h1>{{title}}</h1> --}}
        </div>
        {{>footer}}
    </body>
</html> 