<!DOCTYPE html>
<html>
    <head>
        <title>
            About
        </title>
        <link rel="icon" href="./img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class='main-content'>
            <p>{{>header}}</p>
            <img class = 'portrait' src="/img/vishal.jpg" width="250" height="250">
            <h1>This is Vishal.</h1>
        </div>
        <p>{{>footer}}</p>
    </body>
</html> 