<!DOCTYPE html>
<html>
    <head>
        <title>
            Help
        </title>
        <link rel ="icon" href='./img/weather.png'>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class='main-content'>
            <p>{{>header}}</p>
            <h1>This is help page {{help}}</h1>
        </div>
        <p>{{>footer}}</p>
    </body>
</html> 